
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2> Yapılacaklar </h2>
<br />
<p>Başlıklarda Arama Kutucuğu Ekle</p>
<p>Yazar Görselleri Düzenlenecek</p>
<p>Grafik Eklenecek</p>
<p>Vitrin Teması Eklenecek</p>
<p>Gelen Kutusunda Arama İşlemi</p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Layouttan Ayrılacak</p>
<p>Sözlük ve Vitrin Ayrılacak</p>
<p>Herhangi Bir Tablo Raporlanacak (PDF) </p>
<p>Proje Dosyaları Sunucuya Taşınacak</p>
<p>Alan Adı Alınacak</p>
<p>Proje Canlıya Taşınacak</p>



